<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.bcsphere.bleprofiles"
    version="0.1.0">

    <name>bleprofiles</name>
	<description>Standard BLE profiles plugin based on BC.js</description>
	<license>Apache 2.0</license>
	<keywords>bcsphere,findme,proximity</keywords>
	<engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
	
	<js-module src="www/findme.js" name="findme">
        <merges target="BC.Findme" />
    </js-module>
	<js-module src="www/proximity.js" name="proximity">
        <merges target="BC.Proximity" />
    </js-module>
	
	<dependency id="org.bcsphere.bluetooth" url="https://github.com/bcsphere/bluetooth.git"/>
</plugin>
